<html>
    <body>
        <h2>HTML Form</h2>

        <form action="/getresult" method="post">
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="Science" value="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="Maths" name="Maths" value="0"><br>
            <label for="History">History:</label><br>
            <input type="text" id="History" name="History" value="0"><br><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you click submit button the data will be sent to '/submit' page</p>
    </body>
</html>